* {
	margin: 0;
	padding: 0;
}

.khelper {
	width: 100px;
	height: 50px;
	position: relative;
}

.arrow {
	top: 0;
	left: 0;
  border-style: solid;
  border-width: 40px;
  position:absolute;
}

.arrow-border {
	border-color: transparent transparent transparent #666666;
  border-style: solid;
  border-width: 40px;
  position:absolute;
	top: 0;
	left: 20px;
}

.slideLeft {
	border-color: transparent #EDEDED transparent transparent;
}

.slideRight {
	border-color: transparent transparent transparent #ffffff;
}

.slideUp {
	border-color: transparent transparent red transparent;
}

.slideDown {
	border-color: red transparent transparent transparent;
}

.triple-arrow {
	width: 300px;
	height: 108px;
	display: block;
	overflow: hidden;
	position: relative;
}

.right img {
	width: 100px;
	padding-top: 30px;
	padding-left: 108px;
}

.left img {
	width: 100px;
	padding-top: 30px;
	padding-right: 108px;
}

.up img {
	height: 100px;
}

.down img {
	height: 100px;
	margin-left: 30px;
}

.right {
  top: 0;
	left: 0;
	background: url(../images/khand.png) no-repeat center left;
}

.left {
  top: 0;
  right: 0;
  text-align: right;
	background: url(../images/khand.png) no-repeat top right;
}

.up {
  top: 0;
  left: 0;
	height: 208px;
	padding-left: 30px;
	background: url(../images/khand.png) no-repeat bottom left;
}

.down {
  top: 0;
	left: 0;
	height: 208px;
	padding-top: 108px;
	background: url(../images/khand.png) no-repeat top left;
}