body {
	background: #192127 url(../images/bg.png) repeat;
}

#gridHolder {
	margin-top: 50px;
}

#gridHolder td .tileItem, #gridHolder td .banner {
	opacity: 1 !important;
	margin: 15px;
	width: 1024px;
	height: 450px;
	overflow: hidden;
	background: transparent !important;
}

#gridHolder td .tileItem a {
	float: left;
	margin: 2px 4px 2px 0;
	width: 250px;
	background:#fff url(../images/w.png) repeat left top!important;
}

#gridHolder td .tileItem a img {
	vertical-align: middle;
}

#navigation {
	top: 2em;
	left: 0;
	list-style: none;
	margin-left: 20px;
	overflow: hidden;
	position: fixed;
}

#navigation li {
	float: left;
	margin-left: 75px;
}

#navigation li a {
	color: #eee;
	float: left;
	padding: 20px 20px 0 20px;
	font-size: 40px;
	text-decoration: none;
	font-family: Helvetica Neue Light, Helvetica, Arial;
}

#navigation li a:hover, #navigation li a.active {
	color: #10B24A;
}

#navigation .backBttn a {
  width: 64px;
  height: 64px;
  margin-top: 12px;
  text-indent: -999990px;
  background: url(../images/back.png) no-repeat left top;
}

#fancybox-close {
	text-indent: -9999px;
}

.companyModal {
  padding: 10px;
}

.companyModal .detail {
}

.companyModal h3 {
	color: #fff;
	font-size: 35px;
	font-weight: normal;
	font-family: Helvetica Neue, Helvetica, Arial;
}

.companyModal p {
	padding-bottom: 8px;
	color: #f8f8f8;
	font-size: 16px;
	line-height: 24px;
	font-family: lucida Grande, Arial;
}

#fancybox-close {
  top: -50px !important;
  right: -50px !important;
}

table {
   position:absolute; 
   /*top:45% !important;
   height:240px; */
   margin-top:50px;
}

#fancybox-wrap {
  -moz-box-shadow:    0 3px 6px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 1);
  box-shadow:         0 3px 6px rgba(0, 0, 0, 1);
  background: url(../images/index-green.png) repeat left top;
}

#fancybox-outer {
  background: url(../images/index-green.png) repeat left top;
}

#fancybox-content {
  border: none !important;
}

#fancybox-content > div {
  overflow: hidden !important;
}

#companyInfo {
   overflow: hidden;
  list-style: none;
}


#companyInfo li {
  color: #FFFFFF;
  font-family: Helvetica Neue,Helvetica,Arial;
  font-size: 18px;
  font-weight: bold;
  margin: 18px 0;
  padding-left: 42px;
  height: 32px;
  width: 84px;
  float: left;
  line-height: 32px;  
}

#companyInfo li.funding {
  background: url(../images/dollar.png) no-repeat left top;
}


#companyInfo li.status {
  background: url(../images/heart.png) no-repeat left top;
}

#mic {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
 
  background-origin: padding-box;
 
  background-size: 100% auto;
  background: url(../images/say.png) no-repeat left top;
  bottom: 20px;
  height: 67px;
  left: 20px;
  position: fixed;
  width: 75px;
  z-index: 1;
  text-indent: -99999px;
}

#fancybox-close {
	z-index: 500 !important;
}