* {
  padding: 0;
  margin: 0;
}

body {
	background: #192127 url(../images/bg.png) repeat;
}

#logo {
  width: 79%;
  margin: 0 auto;
  overflow: hidden;
}

#logo a {
  float: left;
  width: 220px;
}

#logo span {
  color: #fff;
  float: right;
  font-size: 24px;
  line-height: 35px;
  padding-top: 80px;
  font-family: Helvetica,Arial,sans-serif;
}

#gridHolder {
	background: #252c32;
	border: 1px solid #333;
	margin: 1.5% auto;
  padding: 20px 0 10px 20px;
  width: 80%;
}

#gridHolder ul {
	overflow: hidden;
}

#gridHolder li {
   float: left;
   list-style: none outside none;
   margin: 0 auto;
   margin: 0 10px 10px 0px;
   width: 48.5%;
   overflow: hidden;
   height: 225px;
   border: 1px solid #30383e;
}

#gridHolder li {
  
}

#gridHolder .tileItem, #gridHolder .banner {
	width: 99%;
	min-height: 200px;
	margin: 0;
	padding: 0;
	opacity: 1;
	position: relative;
	font-size: 24px;
	background: none;
}

#gridHolder .active .tileItem {
	background: none;
}

#gridHolder .tileItem img {
}

#gridHolder .row {
   margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.caption {
	left: 10px;
	color: #fefefe;
	top: 10px;
	font-size: 30px;
	position: absolute;
	text-decoration: none;
	font-family: Helvetica;
}