html, body {
  height: 100%;
  overflow: hidden;
}
body {
  position: relative;
  font-family: 'SegoeWPLight';
}

*{
  text-decoration: none;
  cursor: none;
  font-family: 'SegoeWPLight';
}

#cursor{
  position: absolute;
  left: -200px;
  top: -200px;
  width: 90px;
  height: 90px;
  pointer-events:none;
  background:url(/images/hand.png) no-repeat center center;
  z-index: 2;
}

#content{
  height: 100%;
  -webkit-perspective: 1000;
  background:#aaa;
}