body {
  background-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
}

#twitter_update_list {  
  -webkit-transition: all 1s ease-in; 
  -moz-transition: all 1s ease-in; 
  -o-transition: all 1s ease-in; 
  -ms-transition: all 1s ease-in;
}

#twitter_update_list {

}

#twitter_update_list td {
  width: 550px;
}

#twitter_update_list li, .kinesis {
  float: left;
  width: 450px;
  display: block;
  margin-right: 5px;
  padding: 20px;
  list-style-type: none;
  height: 600px;
  background-color: #eee; 
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#twitter_update_list li .tweet, #twitter_update_list li .intro {
  float: left;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #ddd;
}

#twitter_update_list li .tweet {
  line-height: 36px;
}

#twitter_update_list li .tweet .time {
  float: right;
  color: #555;
  font-size: 17px;
  margin: 10px 0 0;
}

#twitter_update_list li .intro img {
  float: left;
}

#twitter_update_list li .intro span {
  font-size: 16px;
  display: inline;
  width: 300px;
  margin: 3px 15px;
}

#twitter_update_list li .intro .name {
  font-size: 18px;
}

#twitter_update_list td.active li {
  background-color: #fff;
}

#twitter_update_list span {
  width: 450px;
  font-size: 32px;
  float: left;
  color: #000;
  font-family: Helvetica Neue;
}
#twitter_update_list .tweet a {
  font-size: 32px;
  color: #0084B4;
}

#twitter_update_list .pic {
  height: 340px;
  overflow: hidden;
  width: 455px;
  box-shadow: 0 2px 4px #333333;
}

#twitter_update_list .pic img {
  width: 455px;
}

#twitter_update_list span a:hover {
  text-decoration: underline;
  color: #666666;
}

